# Virtual environment
venv/
.venv/
env/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
*.sqlite3

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env
.env.local

# Static and media files (if not versioned)
staticfiles/
media/
